#contact_modal {
    display: none;
}

h1 {
    margin: 0;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
}

.photograph-header section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.photograph-header section div {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 20vw;
    margin: 80px 0% 0% 5vw;
}

.photograph-header section div h1 {
    color: #D3573C;
    font-weight: 400;
    font-size: 34px;
}

.photograph-header section div h2 {
    color: #901C1C;
    font-weight: 400;
}

.photograph-header img {
    margin: 0% 0% 0% 40vw;
    height: 220px;
    width: 220px;
    border-radius: 200px;
}

.photographer_section div {
    margin: 0% 0% 0% 2vw;
}

.photographer_section div img {
    height: 300px ;
    width: 350px ;
}

.photographer_section div h2 {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}

.contact_button {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: 117px 0% 0% 37vw;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}