@import url("photographer.css");

/** -------------------- Général -------------------- */
a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.625em;
}

header h1 {
  font-weight: 500;
  margin-right: 3em;
}

h1 {
  color: #901c1c;
}

.logo {
  height: 3.5em;
  margin-left: 5.25em;
}

/** -------------------- Article par photographe de la page index.html -------------------- */
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5.62em;
  margin-top: 6.25em;
}

.photographer_section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.photographer_section article p {
  color: #000;
}

.photographer_section article section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 2.25em;
  font-weight: 500;
  margin: 0.625em 0 0 0;
}

.photographer_section article h3 {
  color: #901c1c;
  font-size: 0.85em;
  margin: 0.125em;
}

.photographer_section article h4 {
  color: #000;
  font-size: 0.75em;
  font-weight: 600;
  margin: 0.125em;
}

.photographer_section article h5 {
  color: #525252;
  font-size: 0.7em;
  font-weight: 100;
  margin: 0.125em;
}

.photographer_section article img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 0.25em 0.25em 0.5em #c4c4c4;
}
