@import url("photographer.css");

/** -------------------- Général -------------------- */
a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

header h1 {
  font-weight: 500;
  margin-right: 5vw;
}

h1 {
  color: #901c1c;
}

.logo {
  height: 50px;
  margin-left: 5vw;
}

/** -------------------- Article par photographe de la page index.html -------------------- */
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vw;
  margin-top: 100px;
}

.photographer_section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photographer_section article p {
  color: #000;
}

.photographer_section article section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 2.5em;
  font-weight: 500;
  margin: 20px 0 0 0;
}

.photographer_section article h3 {
  color: #901c1c;
  font-size: 1em;
  margin: 1%;
}

.photographer_section article h4 {
  color: #000;
  font-size: 1em;
  font-weight: 600;
  margin: 1%;
}

.photographer_section article h5 {
  color: #525252;
  font-size: 1em;
  font-weight: 100;
  margin: 1%;
}

.photographer_section article img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
